html {
}

body {
  margin: 0;
  padding: 0;

  background-image: url(grass.png)!important;
}

#map {
  position: relative;
  width: 1200px;
  height: 900px;
/*  background-image: url(grass.png);*/
}

.sprite {
  position: absolute;
}

.sprite.self {
  z-index: 500;
}


.sky {
  width: 1200px;
  background-image: url(sky.png);
  height: 160px;
}

.fence {
  background-image: url(fence.png);
  width: 100%;
  height: 140px;
  position: fixed;
  bottom: 0px;
  z-index: 10000;
  
  position: absolute;
}

.booth {
  background-image: url(booth.png);
  position: absolute;
  z-index: 310;
  width: 120px;
  height: 180px;
  top: 265px;
  left: 510px;
}