html {
}

body {
  margin: 0;
  padding: 0;

  background-color: brown;
}

#map {
  position: relative;
  width: 3000px;
  height: 900px;
  background-image: url(grass.png);
}

.sprite {
  position: absolute;
}

.sprite.self {
  z-index: 500;
}


.sky {
  background-image: url(fence.png);
  width: 100%;
  height: 140px;
  background-color: lightblue;
  
}

.fence {
  background-image: url(fence.png);
  width: 100%;
  height: 140px;
  position: fixed;
  bottom: 0px;
  z-index: 10000;
  
  position: absolute;
}